<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEEMCDRWcfService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://192.168.11.12:8888/EEMCDRWcfService/service"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEEMCDRWcfService"
                contract="ServiceReference1.IEEMCDRWcfService" name="WSHttpBinding_IEEMCDRWcfService" />
        </client>
    </system.serviceModel>
</configuration>