<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QLHS_DR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QLHS_DR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEEMCDRWcfService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None"/>
                        <message clientCredentialType="UserName"/>
                    </security>
                </binding>
                <binding name="WSHttpBinding_IEofficeMainService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None"/>
                        <message clientCredentialType="UserName"/>
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://192.168.11.12:8888/EEMCDRWcfService/service" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEEMCDRWcfService" contract="ServiceReference1.IEEMCDRWcfService" name="WSHttpBinding_IEEMCDRWcfService"/>
            <endpoint address="https://192.168.11.12:8888/EofficeService/Service" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEofficeMainService" contract="EOfficeServiceReference.IEofficeMainService" name="WSHttpBinding_IEofficeMainService"/>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <QLHS_DR.Properties.Settings>
            <setting name="AddressUpdateInfo" serializeAs="String">
                <value>http://192.168.11.12/qlhsupdate.xml</value>
            </setting>
        </QLHS_DR.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <QLHS_DR.Properties.Settings>
            <setting name="StatusSavePass" serializeAs="String">
                <value>False</value>
            </setting>
        </QLHS_DR.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
