<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QLHS_DR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QLHS_DR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Off,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="C:\Users\Duong\source\repos\anhduongbk52\QLHS_DR\QLHS_DR\App_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="C:\Users\Duong\source\repos\anhduongbk52\QLHS_DR\QLHS_DR\App_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
        <trace autoflush="false" />
    </system.diagnostics>
    <system.serviceModel>
        <diagnostics performanceCounters="Default">
            <messageLogging logEntireMessage="true" logMalformedMessages="false"
                logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false" />
        </diagnostics>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMessageService">
                    <security mode="Transport">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEofficeMainService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://192.168.11.12:8888/EofficeService/Service"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEofficeMainService"
                contract="EOfficeServiceReference.IEofficeMainService" name="WSHttpBinding_IEofficeMainService" />
            <endpoint address="net.tcp://192.168.11.12:8080/EofficeService/Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMessageService"
                contract="ChatAppServiceReference.IMessageService" name="NetTcpBinding_IMessageService" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <QLHS_DR.Properties.Settings>
            <setting name="AddressUpdateInfo" serializeAs="String">
                <value>http://192.168.11.12/qlhsupdate.xml</value>
            </setting>
        </QLHS_DR.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <QLHS_DR.Properties.Settings>
            <setting name="StatusSavePass" serializeAs="String">
                <value>False</value>
            </setting>
        </QLHS_DR.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
